/* nunito-200 - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/nunito-v11-latin-200.eot'); /* IE9 Compat Modes */
    src: local('Nunito ExtraLight'), local('Nunito-ExtraLight'),
         url('../fonts/nunito-v11-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-v11-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-v11-latin-200.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-v11-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-v11-latin-200.svg#Nunito') format('svg'); /* Legacy iOS */
  }
  /* nunito-200italic - latin */
  @font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 200;
    src: url('../fonts/nunito-v11-latin-200italic.eot'); /* IE9 Compat Modes */
    src: local('Nunito ExtraLight Italic'), local('Nunito-ExtraLightItalic'),
         url('../fonts/nunito-v11-latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-v11-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-v11-latin-200italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-v11-latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-v11-latin-200italic.svg#Nunito') format('svg'); /* Legacy iOS */
  }
  /* nunito-300 - latin */
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/nunito-v11-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Nunito Light'), local('Nunito-Light'),
         url('../fonts/nunito-v11-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-v11-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-v11-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-v11-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-v11-latin-300.svg#Nunito') format('svg'); /* Legacy iOS */
  }
  /* nunito-300italic - latin */
  @font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/nunito-v11-latin-300italic.eot'); /* IE9 Compat Modes */
    src: local('Nunito Light Italic'), local('Nunito-LightItalic'),
         url('../fonts/nunito-v11-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-v11-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-v11-latin-300italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-v11-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-v11-latin-300italic.svg#Nunito') format('svg'); /* Legacy iOS */
  }
  /* nunito-italic - latin */
  @font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/nunito-v11-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Nunito Italic'), local('Nunito-Italic'),
         url('../fonts/nunito-v11-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-v11-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-v11-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-v11-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-v11-latin-italic.svg#Nunito') format('svg'); /* Legacy iOS */
  }
  /* nunito-600 - latin */
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/nunito-v11-latin-600.eot'); /* IE9 Compat Modes */
    src: local('Nunito SemiBold'), local('Nunito-SemiBold'),
         url('../fonts/nunito-v11-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-v11-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-v11-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-v11-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-v11-latin-600.svg#Nunito') format('svg'); /* Legacy iOS */
  }
  /* nunito-regular - latin */
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/nunito-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Nunito Regular'), local('Nunito-Regular'),
         url('../fonts/nunito-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-v11-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
  }
  /* nunito-600italic - latin */
  @font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/nunito-v11-latin-600italic.eot'); /* IE9 Compat Modes */
    src: local('Nunito SemiBold Italic'), local('Nunito-SemiBoldItalic'),
         url('../fonts/nunito-v11-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-v11-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-v11-latin-600italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-v11-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-v11-latin-600italic.svg#Nunito') format('svg'); /* Legacy iOS */
  }
  /* nunito-700 - latin */
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/nunito-v11-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Nunito Bold'), local('Nunito-Bold'),
         url('../fonts/nunito-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-v11-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-v11-latin-700.svg#Nunito') format('svg'); /* Legacy iOS */
  }
  /* nunito-700italic - latin */
  @font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/nunito-v11-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local('Nunito Bold Italic'), local('Nunito-BoldItalic'),
         url('../fonts/nunito-v11-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-v11-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-v11-latin-700italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-v11-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-v11-latin-700italic.svg#Nunito') format('svg'); /* Legacy iOS */
  }
  /* nunito-800 - latin */
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/nunito-v11-latin-800.eot'); /* IE9 Compat Modes */
    src: local('Nunito ExtraBold'), local('Nunito-ExtraBold'),
         url('../fonts/nunito-v11-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-v11-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-v11-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-v11-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-v11-latin-800.svg#Nunito') format('svg'); /* Legacy iOS */
  }
  /* nunito-800italic - latin */
  @font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/nunito-v11-latin-800italic.eot'); /* IE9 Compat Modes */
    src: local('Nunito ExtraBold Italic'), local('Nunito-ExtraBoldItalic'),
         url('../fonts/nunito-v11-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-v11-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-v11-latin-800italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-v11-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-v11-latin-800italic.svg#Nunito') format('svg'); /* Legacy iOS */
  }
  /* nunito-900 - latin */
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/nunito-v11-latin-900.eot'); /* IE9 Compat Modes */
    src: local('Nunito Black'), local('Nunito-Black'),
         url('../fonts/nunito-v11-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-v11-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-v11-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-v11-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-v11-latin-900.svg#Nunito') format('svg'); /* Legacy iOS */
  }
  /* nunito-900italic - latin */
  @font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/nunito-v11-latin-900italic.eot'); /* IE9 Compat Modes */
    src: local('Nunito Black Italic'), local('Nunito-BlackItalic'),
         url('../fonts/nunito-v11-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-v11-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-v11-latin-900italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-v11-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-v11-latin-900italic.svg#Nunito') format('svg'); /* Legacy iOS */
  }

  /* nunito-sans-200 - latin */
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/nunito-sans-v5-latin-200.eot'); /* IE9 Compat Modes */
    src: local('Nunito Sans ExtraLight'), local('NunitoSans-ExtraLight'),
         url('../fonts/nunito-sans-v5-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-sans-v5-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-sans-v5-latin-200.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-sans-v5-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-sans-v5-latin-200.svg#NunitoSans') format('svg'); /* Legacy iOS */
  }
  /* nunito-sans-300 - latin */
  @font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/nunito-sans-v5-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Nunito Sans Light'), local('NunitoSans-Light'),
         url('../fonts/nunito-sans-v5-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-sans-v5-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-sans-v5-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-sans-v5-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-sans-v5-latin-300.svg#NunitoSans') format('svg'); /* Legacy iOS */
  }
  /* nunito-sans-200italic - latin */
  @font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 200;
    src: url('../fonts/nunito-sans-v5-latin-200italic.eot'); /* IE9 Compat Modes */
    src: local('Nunito Sans ExtraLight Italic'), local('NunitoSans-ExtraLightItalic'),
         url('../fonts/nunito-sans-v5-latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-sans-v5-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-sans-v5-latin-200italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-sans-v5-latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-sans-v5-latin-200italic.svg#NunitoSans') format('svg'); /* Legacy iOS */
  }
  /* nunito-sans-regular - latin */
  @font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/nunito-sans-v5-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Nunito Sans Regular'), local('NunitoSans-Regular'),
         url('../fonts/nunito-sans-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-sans-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-sans-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-sans-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-sans-v5-latin-regular.svg#NunitoSans') format('svg'); /* Legacy iOS */
  }
  /* nunito-sans-italic - latin */
  @font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/nunito-sans-v5-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Nunito Sans Italic'), local('NunitoSans-Italic'),
         url('../fonts/nunito-sans-v5-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-sans-v5-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-sans-v5-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-sans-v5-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-sans-v5-latin-italic.svg#NunitoSans') format('svg'); /* Legacy iOS */
  }
  /* nunito-sans-300italic - latin */
  @font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/nunito-sans-v5-latin-300italic.eot'); /* IE9 Compat Modes */
    src: local('Nunito Sans Light Italic'), local('NunitoSans-LightItalic'),
         url('../fonts/nunito-sans-v5-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-sans-v5-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-sans-v5-latin-300italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-sans-v5-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-sans-v5-latin-300italic.svg#NunitoSans') format('svg'); /* Legacy iOS */
  }
  /* nunito-sans-600italic - latin */
  @font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/nunito-sans-v5-latin-600italic.eot'); /* IE9 Compat Modes */
    src: local('Nunito Sans SemiBold Italic'), local('NunitoSans-SemiBoldItalic'),
         url('../fonts/nunito-sans-v5-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-sans-v5-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-sans-v5-latin-600italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-sans-v5-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-sans-v5-latin-600italic.svg#NunitoSans') format('svg'); /* Legacy iOS */
  }
  /* nunito-sans-700 - latin */
  @font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/nunito-sans-v5-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Nunito Sans Bold'), local('NunitoSans-Bold'),
         url('../fonts/nunito-sans-v5-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-sans-v5-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-sans-v5-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-sans-v5-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-sans-v5-latin-700.svg#NunitoSans') format('svg'); /* Legacy iOS */
  }
  /* nunito-sans-600 - latin */
  @font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/nunito-sans-v5-latin-600.eot'); /* IE9 Compat Modes */
    src: local('Nunito Sans SemiBold'), local('NunitoSans-SemiBold'),
         url('../fonts/nunito-sans-v5-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-sans-v5-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-sans-v5-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-sans-v5-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-sans-v5-latin-600.svg#NunitoSans') format('svg'); /* Legacy iOS */
  }
  /* nunito-sans-700italic - latin */
  @font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/nunito-sans-v5-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local('Nunito Sans Bold Italic'), local('NunitoSans-BoldItalic'),
         url('../fonts/nunito-sans-v5-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-sans-v5-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-sans-v5-latin-700italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-sans-v5-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-sans-v5-latin-700italic.svg#NunitoSans') format('svg'); /* Legacy iOS */
  }
  /* nunito-sans-800 - latin */
  @font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/nunito-sans-v5-latin-800.eot'); /* IE9 Compat Modes */
    src: local('Nunito Sans ExtraBold'), local('NunitoSans-ExtraBold'),
         url('../fonts/nunito-sans-v5-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-sans-v5-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-sans-v5-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-sans-v5-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-sans-v5-latin-800.svg#NunitoSans') format('svg'); /* Legacy iOS */
  }
  /* nunito-sans-800italic - latin */
  @font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/nunito-sans-v5-latin-800italic.eot'); /* IE9 Compat Modes */
    src: local('Nunito Sans ExtraBold Italic'), local('NunitoSans-ExtraBoldItalic'),
         url('../fonts/nunito-sans-v5-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-sans-v5-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-sans-v5-latin-800italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-sans-v5-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-sans-v5-latin-800italic.svg#NunitoSans') format('svg'); /* Legacy iOS */
  }
  /* nunito-sans-900 - latin */
  @font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/nunito-sans-v5-latin-900.eot'); /* IE9 Compat Modes */
    src: local('Nunito Sans Black'), local('NunitoSans-Black'),
         url('../fonts/nunito-sans-v5-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-sans-v5-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-sans-v5-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-sans-v5-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-sans-v5-latin-900.svg#NunitoSans') format('svg'); /* Legacy iOS */
  }
  /* nunito-sans-900italic - latin */
  @font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/nunito-sans-v5-latin-900italic.eot'); /* IE9 Compat Modes */
    src: local('Nunito Sans Black Italic'), local('NunitoSans-BlackItalic'),
         url('../fonts/nunito-sans-v5-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-sans-v5-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-sans-v5-latin-900italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-sans-v5-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-sans-v5-latin-900italic.svg#NunitoSans') format('svg'); /* Legacy iOS */
  }

/* lato-100 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/lato-v16-latin-100.eot'); /* IE9 Compat Modes */
    src: local('Lato Hairline'), local('Lato-Hairline'),
         url('../fonts/lato-v16-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v16-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v16-latin-100.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v16-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v16-latin-100.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-300 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/lato-v16-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Lato Light'), local('Lato-Light'),
         url('../fonts/lato-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v16-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v16-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-100italic - latin */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/lato-v16-latin-100italic.eot'); /* IE9 Compat Modes */
    src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'),
         url('../fonts/lato-v16-latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v16-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v16-latin-100italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v16-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v16-latin-100italic.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-300italic - latin */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/lato-v16-latin-300italic.eot'); /* IE9 Compat Modes */
    src: local('Lato Light Italic'), local('Lato-LightItalic'),
         url('../fonts/lato-v16-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v16-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v16-latin-300italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v16-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v16-latin-300italic.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-regular - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../fonts/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v16-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-italic - latin */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/lato-v16-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Lato Italic'), local('Lato-Italic'),
         url('../fonts/lato-v16-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v16-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v16-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v16-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v16-latin-italic.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v16-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Lato Bold'), local('Lato-Bold'),
         url('../fonts/lato-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v16-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v16-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-700italic - latin */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/lato-v16-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
         url('../fonts/lato-v16-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v16-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v16-latin-700italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v16-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v16-latin-700italic.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v16-latin-900.eot'); /* IE9 Compat Modes */
    src: local('Lato Black'), local('Lato-Black'),
         url('../fonts/lato-v16-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v16-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v16-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v16-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v16-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-900italic - latin */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/lato-v16-latin-900italic.eot'); /* IE9 Compat Modes */
    src: local('Lato Black Italic'), local('Lato-BlackItalic'),
         url('../fonts/lato-v16-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v16-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v16-latin-900italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v16-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v16-latin-900italic.svg#Lato') format('svg'); /* Legacy iOS */
  }