<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Tot.bio Smart Toilet">
    <meta name="theme-color" content="#005B61">
    <link rel="dns-prefetch" href="//storage.googleapis.com">
    <link rel="stylesheet" crossorigin="anonymous" type="text/css" href="<%= BASE_URL %>static/css/fonts.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>img/icons/favicon-16x16.png">
    <link rel="mask-icon" href="<%= BASE_URL %>img/icons/safari-pinned-tab.svg" color="#005b61">
    <meta name="msapplication-TileColor" content="#005b61">
    <meta name="theme-color" content="#ffffff">
	  <link rel="manifest" href="<%= BASE_URL %>manifest.json">
    <title>Tot.bio</title>
    <link rel="stylesheet" crossorigin="anonymous" type="text/css" href="<%= BASE_URL %>static/css/materialdesignicons.min.css">
    <link rel="stylesheet" crossorigin="anonymous" type="text/css" href="<%= BASE_URL %>static/css/override-vuetify-theme.css"/>
    <style>.v-application--wrap,body,html{background-color:#e5e5e5}.v-application{font-family:Nunito!important;font-display:swap}.display-1,.headline,.subheading,.title{font-family:Nunito!important;font-display:swap}.full-width{width:100%!important;max-width:none!important}.transform-initial{text-transform:initial!important}</style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but Tot.bio doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
