<template>
  <div class="content">
    <h1>Image Decoder</h1>
    <div class="box-user" v-if="!decoding && decodedData">
      <h2>Result</h2>
      <img :src="decodedUrl" id="decoded-image"/>
        <v-btn class="ml-2" color="#24B282" dark v-on:click="saveFile()">Save</v-btn>
        <v-btn class="ml-2" color="#24B282" dark v-on:click="startAgain()">Start again</v-btn>
    </div>
    <div class="start" v-else-if="status === '' && !decoding">
      <FileChooserDrop v-model="droppedFile" allowed=".bin" allowed-text="Allowed file: .BIN"/>
      <p class="errors" v-if="formErrorMessage">{{ formErrorMessage }}</p>
      <v-btn my-3 color="#24B282" dark v-on:click="uploadFile()">Decode</v-btn>
    </div>
    <div class="box-user" v-else-if="decoding">
      <p>Decoding...</p>
    </div>
    <div class="box-user" v-else-if="errorMessage.length > 0">
      <p class="px-6">{{ errorMessage }}</p>
      <div class="text-center ma-4">
        <v-btn class="mr-2" color="#24B282" dark v-on:click="uploadFile()">Retry</v-btn>
        <v-btn class="ml-2" color="#24B282" dark v-on:click="startAgain()">Start over</v-btn>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import FileSaver from 'file-saver'
import predictorApi from '@/services/predictorApi/predictor'
import FileChooserDrop from '@/components/FileChooserDrop.vue'

@Component({
  name: 'decode',
  components: {
    FileChooserDrop
  }
})

export default class Decode extends Vue {
  decoding = false as boolean
  errorMessage = '' as string
  status = '' as string
  droppedFile = null as File
  decodedUrl = ''
  decodingFinished = false as boolean
  decodedFileName = ''
  decodedData = null as Blob
  formErrorMessage = '' as string

  resetAllActivityStatus (): void {
    this.errorMessage = ''
    this.status = ''
    this.decoding = false
    this.decodedUrl = ''
    this.decodingFinished = false
  }

  startAgain (): void {
    this.resetFile()
    this.resetAllActivityStatus()
  }

  resetFile (): void {
    window.URL.revokeObjectURL(this.decodedUrl)
    this.droppedFile = null
    this.decodedUrl = ''
    this.decodedFileName = ''
    this.decodedData = null
  }

  validateFileType (file: File) {
    this.formErrorMessage = ''
    if (!file) {
      this.formErrorMessage = 'No file chosen.'
      return false
    }
    if (!file.name.toLowerCase().endsWith('.bin')) {
      this.formErrorMessage = 'Only .BIN files are allowed.'
      return false
    }
    return true
  }

  readFile (file: any): Promise<any> {
    return new Promise((resolve, reject) => {
      const reader = new FileReader()
      reader.readAsArrayBuffer(file)
      reader.onload = () => resolve(reader.result)
      reader.onerror = error => reject(error)
    })
  }

  async uploadFile (): Promise<void> {
    if (!this.validateFileType(this.droppedFile)) {
      return
    }

    let imageString: Buffer = null
    try {
      imageString = Buffer.from(await this.readFile(this.droppedFile))
    } catch (e) {
      this.errorMessage = 'The file cannot be read. Please choose another file.'
    }

    if (imageString !== null) {
      this.resetAllActivityStatus()
      await this.decodeImage(imageString)
    }
  }

  handleError (e: any): void {
    this.status = 'error'
    this.errorMessage = e.toString()
  }

  setError (string: string): void {
    this.status = 'error'
    this.errorMessage = string.toString()
  }

  async decodeImage (image: Buffer) {
    let uploadingSuccess = false
    let response
    try {
      this.decoding = true
      response = await predictorApi.testDecode(image)
    } catch (e) {
      if (e.response.status === 400) {
        this.setError('The file you choose might be corrupted or incompatible. Please choose another file.')
      } else {
        this.setError('Something went wrong while decoding. Please try again.')
      }
      this.decoding = false
      this.decodingFinished = false
    }

    if (!response) {
      return
    }

    try {
      let disposition: string = response.headers['content-disposition']
      if (disposition && disposition.indexOf('attachment') !== -1) {
        let filenameRegex: RegExp = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/
        let matches: string[] = filenameRegex.exec(disposition)
        if (matches != null && matches[1]) {
          this.decodedUrl = URL.createObjectURL(response.data)
          this.decodingFinished = true
          this.decoding = false
          this.decodedFileName = matches[1].replace(/['"]/g, '')
          this.decodedData = response.data
        } else {
          throw new Error('Something went wrong. Please try again.')
        }
      } else {
        throw new Error('Something went wrong. Please try again.')
      }
    } catch (e) {
      this.handleError(e)
      this.decoding = false
      this.status = 'error'
      this.decodingFinished = false
    }
  }

  saveFile () {
    if (this.decodedData) {
      FileSaver.saveAs(this.decodedData, this.decodedFileName)
    }
  }
}
</script>

<style scoped>
.start {
  padding: 0 1rem;
}
.error-try-again {
  color: rgb(177, 15, 15);
}

.content {
  margin-top: 64px;
  padding-top: 1rem;
  text-align: center;
}

.box-user {
  padding: 1rem;
  margin-top: 1rem;
}

#decoded-image {
    max-width: 280px;
    max-height: 170px;
    border: 4px solid white;
    display: block;
    margin: 1rem auto;
    border-radius: 1rem;
    box-shadow: 0 0.3rem 0.3rem 0 rgba(0,0,0,0.3);
    background-color: white;
}

.errors {
    color: #b50d0d;
}
</style>
