<template>
  <!--eslint-disable max-len -->
  <div class="home">
    <h1>History</h1>

    <div class="history-container" v-if="isLoggedIn">
      <div class="history-fetching" v-if="loading">
        <div>
          <AnimatedLoading></AnimatedLoading>
          Please wait...
        </div>
      </div>
      <div class="history-fetching pa-2" v-else-if="errorMessage.length > 0">
        <p class="ma-2">{{ errorMessage }}</p>
        <v-btn dark color="#24B282" class="font-weight-bold"
        @click.stop="loadHistory(page)">Try Again</v-btn>
      </div>
      <div class="no-history" v-else-if="historyCount === 0">
        <img id="no-result-image" :src="require('@/assets/history-no-file.png')"/>
        <p>No logs found.</p>
      </div>
      <div class="history-list" v-else>
        <v-card v-for="(log, i) in logs" :key="'hst'+i"
          :class="['history-item', 'result-' + log.texture.toLowerCase()]" elevaltion="5">
          <div class="history-line"/>
          <div class="history-content">
            <div class="history-emoji-container">
              <img class="emoji-body" :src="getBodyUrl(log.color, log.texture)"/>
              <img class="emoji-face" :src="getFaceUrl(log.color, log.confident, log.texture)"/>
            </div>
            <div class="history-desc">
              <h3>{{ capitalizeString(log.texture) }}</h3>
              <p class="history-item-date">{{ getPrettifiedTime(log.timestamp) }}</p>
              <div class="see-more-container">
                <router-link :to="{name: 'logdetail', params: {id: log.id }}"
                  >See more <v-icon>mdi-chevron-right</v-icon></router-link>
              </div>
            </div>
          </div>
        </v-card>
        <div class="text-center">
          <v-pagination
            v-model="page"
            :length="totalPage"
            :total-visible="5"
            circle
            @input="changePage()"
          ></v-pagination>
        </div>
        <v-btn dark color="#24B282" class="transform-initial font-weight-bold"
        @click.stop="confirmClearHistory()">Clear History</v-btn>
      </div>
    </div>

    <div class="no-history" v-else>
      <img id="no-result-image" :src="require('@/assets/history-no-file.png')"/>
      <p>Please log in to list your own history.</p>
    </div>

    <v-dialog v-model="dialogue.show" persistent max-width="480">
      <v-card class="text-center">
        <v-card-title style="display: block;">
          Clear History
        </v-card-title>
        <v-card-text>
          Are you sure?
        </v-card-text>
        <v-card-actions>
          <v-layout row px-5>
            <v-flex xs6 pr-2>
              <v-btn block dark color="#24B282" @click="clearHistory()">OK</v-btn>
            </v-flex>
            <v-flex xs6 pl-2>
              <v-btn block outlined color="#24B282" class="transform-initial"
              @click.stop="dialogue.show = false">
              Cancel</v-btn>
            </v-flex>
          </v-layout>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import historyApi from '@/services/mainApi/history'
import AnimatedLoading from '@/components/AnimatedLoading.vue'
import { dateName } from '@/utils/DateNameUtils'
import emotionAssets from '@/utils/EmotionAssets'

export interface Log {
  id: string,
  texture: string,
  color: string,
  timestamp: string,
  confident: boolean,
}

export default Vue.extend({
  name: 'history' as string,
  components: {
    AnimatedLoading
  },
  data () {
    return {
      loading: false,
      errorMessage: '',
      perPageItem: 25 as number,
      totalPage: 0,
      page: 1 as number,
      dialogue: {
        show: false
      },
      logs: [] as Array<Log>,
      imagePath: process.env.BASE_URL + 'img/history-emoji/'
    }
  },

  async created (): Promise<any> {
    try {
      this.page = parseInt((this.$route.query as any).page) || 1
      this.loadHistory(this.page)
    } catch (e) {
      this.errorMessage = 'Something went wrong. Try again later.'
      // console.log(e)
    }
  },

  methods: {
    capitalizeWord (inputWord: String): String {
      if (inputWord.length > 0) {
        return inputWord[0].toUpperCase() + inputWord.slice(1).toLowerCase()
      }
      return ''
    },
    capitalizeString (inputString: String): String {
      return inputString
        .split(' ')
        .map(word => this.capitalizeWord(word))
        .join(' ')
    },
    async loadHistory (pageNumber: number): Promise<void> {
      pageNumber -= 1
      try {
        this.loading = true
        this.errorMessage = ''
        const response = await historyApi.fetchHistory(pageNumber)
        this.populateDataHistory(response)
      } catch (e) {
        this.errorMessage = 'Something went wrong. Try again later.'
      } finally {
        this.loading = false
      }
    },
    confirmClearHistory (): void {
      this.dialogue.show = true
    },
    async clearHistory () : Promise<any> {
      this.dialogue.show = false
      this.errorMessage = ''
      try {
        this.loading = true
        const response = await historyApi.clearHistory()
        this.page = 1
        this.loadHistory(this.page)
      } catch (e) {
        this.errorMessage = 'Something went wrong. Try again later.'
      } finally {
        this.loading = false
      }
    },
    changePage (): void {
      this.loadHistory(this.page)
    },
    populateDataHistory (response: any): void {
      const data = response.data
      this.logs = data.results
      this.totalPage = parseInt(data.total_page || 0)
    },
    getPrettifiedTime (time: string): string {
      return dateName.prettifyDateTime(time)
    },
    getFaceUrl (color: string, confidence: boolean, texture: string): string {
      return this.imagePath + emotionAssets.getFaceUrl(color, confidence, texture)
    },
    getBodyUrl (color: string, texture: string): string {
      return this.imagePath + emotionAssets.getBodyUrl(color, texture)
    }
  },

  computed: {
    historyCount (): number {
      return this.logs.length
    },
    isLoggedIn (): boolean {
      return this.$store.getters['authentication/jwtAccess'] !== ''
    }
  }
})
</script>

<style scoped>
h1 {
  font-family: "Nunito Sans";
  font-display: swap;
  font-weight: 800;
  margin-top: 1rem;
}

.home {
  padding: 64px 0;
  text-align: center;
}

.history-list {
    padding: 1.1rem;
    max-width: 800px;
    margin: auto;
}

.history-item {
    margin-bottom: 1rem;
    position: relative;
}

.history-line {
    position: absolute;
    height: 100%;
    width: 7px;
}

.history-desc h3 {
    font-family: "Nunito Sans";
    font-display: swap;
    font-size: 1.3rem;
    font-weight: 800;
}

.history-item.result-healthy .history-line {
    background-color: #005b61;
}

.history-item.result-diarrhea .history-line,
.history-item.result-constipate .history-line {
    background-color: #870000;
}

.history-content {
    padding: 1rem;
    padding-left: 14px;
}

.history-emoji-container img {
    height: 70px;
}

.history-desc p {
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 600;
    color: rgba(0,0,0,0.6);
}

.history-desc {
    padding: 0.5rem 1rem;
}

.history-desc a::before {
    height: 2px;
    content: "";
    background: #2c94e3;
    width: calc(100% - 5px);
    display: block;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    border: 0.5px solid #2c94e3;
}

.history-desc a {
    width: 100%;
    text-decoration: none;
    color: #2c94e3;
    position: relative;
}

.history-desc a i::before {
    color: #2c94e3;
}

.see-more-container {
  width: 100%;
  text-align: right;
}

.history-content {
    display: flex;
    flex-flow: row;
}

.history-desc {
    text-align: left;
    flex-grow: 1;
    padding: 0;
    padding-left: 0.5rem;
}

.history-emoji-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 1rem;
    height: 90px;
    width: 90px;
    position: relative;
}

.history-emoji-container .emoji-body, .history-emoji-container .emoji-face {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
}

#no-result-image {
    width: 190px;
}

.no-history {
    padding-top: 3rem;
    color: rgba(0,0,0,0.5);
    line-height: 2rem;
}
</style>
