<template>
  <!--eslint-disable max-len-->
  <div class="home">
    <div class="comprof" id="comprof-main">
      <div class="comprof-content">
        <img :src="require('../assets/logo - white.svg')" class="comprof-main_logo"/>
        <h1>Test your health by understanding your waste</h1>
        <p>By knowing your waste, you can learn more about how your
          body feels and what it needs.</p>
        <v-btn color="#E2D561" class="font-weight-bold transform-initial"
          @click="logInCheck()">Get started</v-btn>
      </div>
      <div class="comprof-back_image">
        <div class="comprof-feats-overlay"></div>
        <img :src="require('../assets/comprof-header.jpg')"/>
      </div>
    </div>
    <div class="comprof-field" id="comprof-what_is">
      <div class="comprof-what_is-pic">
        <img :src="require('../assets/totbio.jpg')"/>
      </div>
      <div class="comprof-what_is-main">
        <p>Tot.bio is a home-personal devices that gives you prediction about your health status
          based on your waste. It uses a small Raspberry Pi
          device strapped in the toilet.
          We use machine learning to analyze the waste and
          use other information to decide your current health status.
        </p>
      </div>
      <div class="comprof-what_is-header">
        <h1 class="comprof-what_is-title">What is Tot.bio?</h1>
      </div>
    </div>
    <div id="comprof-features">
      <h1>Features</h1>
      <div class="cfi-content">
      <v-layout justify-center row wrap>
        <v-flex xs12 sm6 md4 v-for="(feature, index) in features" :key="'cft'+index" class="comprof-cfeat">
          <img :src="feature.icons" />
          <div class="cfeat-desc">
            <h3>{{ feature.title }}</h3>
            <p>{{ feature.desc }}</p>
          </div>
        </v-flex>
      </v-layout>
      <v-layout column class="tn-notice">
        <v-flex v-for="(notice, idx) in trademarkNotice" :key="'tdn'+idx">
          {{notice}}
        </v-flex>
      </v-layout>
      </div>
    </div>
    <div class="comprof-field" id="comprof-advantages">
      <div class="comprof-feats-item featitem-left">
        <div class="comprof-feats-desc">
          <div class="comprof-feats-desc-container">
            <h2>Get notified within the palms of your hands</h2>
            <div class="comprof-items-separator"></div>
            <p>Our system gives you integrated, accurate, and up-to-date
              info directly to your smartphone</p>
          </div>
        </div>
        <div class="comprof-feats-pic-container">
          <div class="comprof-feats-overlay"></div>
          <img :src="require('../assets/comprof-phone.jpg')"/>
        </div>
      </div>
      <div class="comprof-feats-item featitem-right">
        <div class="comprof-feats-desc">
          <div class="comprof-feats-desc-container">
            <h2>Enjoy sitting while we analyze the result</h2>
            <div class="comprof-items-separator"></div>
            <p>You don't need to do anything different. Just using your phone as usual</p>
          </div>
        </div>
        <div class="comprof-feats-pic-container">
          <div class="comprof-feats-overlay"></div>
          <img :src="require('../assets/comprof-seat.jpg')"/>
        </div>
      </div>
    </div>
    <div class="comprof-field" id="comprof-teams">
      <div class="comprof-teams-title-container">
        <h1 class="comprof-teams-title">Meet the Team</h1>
      </div>
      <div class="comprof-teams-main">
        <div class="comprof-team-main-container" v-for="(member, i) in mainTeam" :key="'tm'+i">
          <img :src="member.imgUrl" class="comprof-team-photo" />
          <h1>{{member.fullName}}</h1>
          <p>{{member.shortRole}}</p>
        </div>
      </div>
      <div class="comprof-teams-supporting">
        <div class="comprof-team-support-container" v-for="(member, i) in secondaryTeam" :key="'stm'+i">
          <img :src="member.imgUrl" class="comprof-team-photo" />
          <h1>{{member.fullName}}</h1>
          <p>{{member.shortRole}}</p>
        </div>
      </div>
      <div class="comprof-teams-title-container">
        <h1 class="comprof-teams-title">Special Thanks</h1>
      </div>
      <div class="comprof-teams-special-thanks">
        <p v-for="(memberName, i) in specialThanks" :key="'st'+i">{{memberName}}</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import accountApi from '@/services/mainApi/account'
export default Vue.extend({
  name: 'home',
  data () {
    return {
      features: [
        {
          icons: '/static/icon-feature-pwa.png',
          title: 'Compatible with Progressive Web App',
          desc: 'Easy installation application to your phone.'
        },
        {
          icons: '/static/icon-feature-ai.png',
          title: 'Backed with Artificial Intelligence',
          desc: 'Using Machine learning and Artificial Intelligence to analyze your gut health.'
        },
        {
          icons: '/static/icon-feature-webbluetooth.png',
          title: 'Web Bluetooth',
          desc: 'Provide one-to-one communication between your phone to device securely.'
        },
        {
          icons: '/static/icon-feature-raspi.png',
          title: 'Raspberry Pi',
          desc: 'Implementing IoT in toilet with Raspberry Pi.'
        }
      ],
      trademarkNotice: [
        '* Raspberry Pi is a trademark of the Raspberry Pi Foundation'
      ],
      mainTeam: [
        {
          imgUrl: '/static/photo_dennis.jpg',
          fullName: 'Dennis Febri Dien',
          shortRole: 'Co-Founder, CEO & IoT Engineer'
        },
        {
          imgUrl: '/static/photo_affan.jpg',
          fullName: 'Ichlasul Affan',
          shortRole: 'Co-Founder, CTO & DevOps Engineer'
        },
        {
          imgUrl: '/static/photo_deo.jpg',
          fullName: 'Kerenza Doxolodeo',
          shortRole: 'Co-Founder & AI Engineer'
        }
      ] as Array<any>,
      secondaryTeam: [
        {
          imgUrl: '/static/photo_naomi.jpg',
          fullName: 'Naomi Riana',
          shortRole: 'CFO & UI/UX Researcher'
        },
        {
          imgUrl: '/static/photo_farol.jpg',
          fullName: 'Farolina Rahmatunnisa',
          shortRole: 'Software Engineer'
        },
        {
          imgUrl: '/static/photo_auli.jpg',
          fullName: 'Aulia Rahman',
          shortRole: 'Mechanical Engineer'
        },
        {
          imgUrl: '/static/photo_ridwan.jpg',
          fullName: 'Rachmat Ridwan',
          shortRole: 'UI/UX Designer'
        }
      ] as Array<any>,
      specialThanks: [
        'Lab CNA-HPC University of Indonesia',
        'Made Wira Dhanar Santika'
      ] as Array<any>
    }
  },
  computed: {
    isLoggedIn (): boolean {
      return this.$store.getters['authentication/jwtAccess'] !== ''
    }
  },
  methods: {
    logInCheck (): void {
      if (this.isLoggedIn) {
        this.$router.push({ name: 'start' })
      } else {
        this.$router.push({ name: 'signin' })
      }
    }
  }
})
</script>

<style scoped>
.comprof, .comprof-field {
    min-height: calc(100vh - 80px);
    position: relative;
    z-index: 0;
    overflow: hidden;
}

#comprof-main {
    min-height: 100vh;
}

.comprof-back_image {
    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    z-index: -1;
    width: 100%;
}

.comprof-content {
    z-index: 100;
    padding: 26px;
    padding-top: calc(94px + 10vh);
    color: white;
    text-align: center;
    max-width: 31rem;
    margin: auto;
    position: relative;
}

.comprof-main_logo {
    height: 120px;
}

.comprof-feats-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #39A99C 0%, rgba(255, 255, 255, 0) 100%), #145B32;
    opacity: 0.6;
}

.comprof-back_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comprof h1, .comprof-field h1 {
    line-height: 1;
}

.comprof-content h1 {
    margin: 1rem 0;
}

#comprof-what_is {
    background: white;
    color: #005B61;
    text-align: center;
    word-break: break-word;
}

h1.comprof-what_is-title {
    padding: 1rem;
    position: relative;
    margin-bottom: 1rem;
}

h1.comprof-what_is-title::after {
    position: absolute;
    display: block;
    content: "";
    width: 61px;
    height: 0.3rem;
    background: #ffffff;
    right: 50%;
    transform: translateX(50%);
    top: calc(100% - 0.6rem);
    border-radius: 0.3rem;
}

.comprof-what_is-pic img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.comprof-what_is-pic {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

#comprof-what_is {
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
}

.comprof-what_is-main {
    color: white;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    z-index: 1;
    padding: 26px;
    text-align: center;
    max-width: 31rem;
    margin: auto;
    position: relative;
    text-align: center;
    max-width: 31rem;
    position: relative;
    margin-bottom: 0;
}

.comprof-what_is-header {
    position: absolute;
    padding-top: 1rem;
    width: 100%;
    color: white;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
}

@media only screen and (min-width: 640px) {
  .comprof-what_is-pic {
    position: relative;
    flex-basis: 60%;
    height: 100%;
    min-height: 100vh;
  }

  #comprof-what_is {
      flex-flow: row;
  }

  .comprof-what_is-main {
    height: 100%;
      min-height: 100vh;
      margin: auto;
      display: flex;
      text-align: left;
      justify-content: flex-start;
      align-items: center;
      max-width: initial;
      background-color: black;
      flex-basis: 40%;
  }

  .comprof-what_is-main p {
      display: block;
      padding: 0 1.7rem;
      max-width: 280px;
  }
}

#comprof-features > h1 {
    width: 100%;
    text-align: center;
    padding: 1rem;
    color: white;
}

.cfi-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

#comprof-features {
    color: white;
    background-color: #005b61;
}

.comprof-cfeat {
    padding: 1rem;
}

.comprof-cfeat > img {
    margin-bottom: 1rem;
}

#comprof-advantages {
    background: #31C28E;
}

.comprof-feats-item {
    overflow: hidden;
    display: flex;
    flex-flow: row-reverse;
    color: white;
    height: 50vh;
}

.comprof-feats-pic-container {
    flex-basis: 50%;
    overflow: hidden;
    position: relative;
}

.comprof-feats-desc {
    flex-basis: 50%;
    padding: 2rem;
}

.comprof-items-separator {
    height: 5px;
    background: #005B61;
    width: 60px;
    margin: 1rem 0;
}

.comprof-feats-desc h2 {
    line-height: 1;
}

.comprof-feats-pic-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comprof-feats-desc {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.comprof-feats-item.featitem-right .comprof-feats-desc {
    align-items: flex-end;
}

.comprof-feats-item.featitem-right {
    text-align: right;
}

.comprof-feats-item.featitem-right .comprof-items-separator {
    margin-left: auto;
}

.comprof-feats-item.featitem-right {
    flex-flow: row;
}

.comprof-feats-desc-container {
  max-width: 350px;
}

#comprof-advantages .comprof-feats-overlay {
    background: linear-gradient(90deg, rgba(43, 228, 206, 0.38) 0%, rgba(52, 164, 124, 0.37) 45.31%, rgba(52, 164, 124, 0) 100%);
    transform: rotate(-180deg);
}

@media only screen and (max-width: 640px) {
  .comprof-feats-desc {
      flex-flow: column;
  }

  .comprof-feats-item, .comprof-feats-item.featitem-right {
      flex-flow: column-reverse;
      min-height: 100vh;
      justify-content: flex-end;
  }

  .comprof-feats-pic-container {
      flex-basis: 50vh;
  }

  .comprof-feats-pic-container img {
      height: 50vh;
  }
}

@media only screen and (max-width: 768px) {
  #comprof-teams > *, #comprof-teams-supporting > * {
    flex-basis: 50%;
  }
}

@media only screen and (max-width: 360px) {
  #comprof-teams > *, #comprof-teams-supporting > * {
    flex-basis: 100%
  }
}

#comprof-teams {
    color: white;
    background: #005B61;
    text-align: center;
    word-break: break-word;
}

#comprof-features > h1, .comprof-teams-title {
    padding: 1rem;
    position: relative;
    margin-bottom: 1rem;
}

#comprof-features > h1::after, .comprof-teams-title::after {
    position: absolute;
    display: block;
    content: "";
    width: 61px;
    height: 0.3rem;
    background: #31C28E;
    right: 50%;
    transform: translateX(50%);
    top: calc(100% - 0.6rem);
    border-radius: 0.3rem;
}

.comprof-teams-main {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}

.comprof-team-main-container,
.comprof-team-support-container {
    border: 2px solid #31C28E;
    border-radius: 7px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    margin: 0.6rem;
    margin-top: 120px;
    padding: 1.4rem;
    padding-top: 40px;
    max-width: 250px;
    position: relative;
}

#comprof-teams > *, #comprof-teams-supporting > * {
    flex-basis: calc(33% - 1.7rem);
}

.comprof-team-support-container {
    margin-top: 70px;
}

.comprof-team-main-container h1,
.comprof-team-support-container h1 {
    font-family: "Nunito Sans";
    font-display: swap;
    font-size: 1.5rem;
}

.comprof-team-support-container h1 {
    font-size: 1.3rem;
    font-weight: 600;
}

.comprof-team-photo {
    display: block;
    position: absolute;
    top: 31px;
    left: 50%;
    width: 140px;
    border: 3px solid #31C28E;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    transform: translateX(-50%) translateY(-100%);
}

.comprof-team-main-container p {
    margin: 0;
}

.comprof-teams-supporting {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 2rem 0;
}

.comprof-teams-supporting .comprof-team-photo {
    top: 31px;
    left: 50%;
    width: 100px;
    border: 3px solid #31C28E;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    transform: translateX(-50%) translateY(-100%);
}

.comprof-team-support-container {
    max-width: 200px;
    position: relative;
}

.tn-notice {
    text-align: left;
    font-size: 0.8rem;
}
</style>
