<template>
  <!--eslint-disable max-len -->
  <div class="home">
    <div class="content">
      <ResultInfoView
        v-if="loaded"
        :confident="responseData.confident"
        :texture="responseData.texture"
        :color="responseData.color"
        :quiz-answer="responseData.quizAnswer"
        :date="responseData.date"
        :is-after-predict="false"
        >
      </ResultInfoView>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import historyApi from '@/services/mainApi/history'
import ResultInfoView from '@/components/ResultInfoView.vue'

export default Vue.extend({
  name: 'result' as string,
  data () {
    return {
      loaded: false as boolean,
      responseData: {
        confident: false as boolean,
        texture: 'constipate' as string,
        color: 'brown' as string,
        quizAnswer: '[1, 2, 3, 4]' as string,
        date: new Date().toISOString()
      }
    }
  },
  components: {
    ResultInfoView
  },
  async created () {
    try {
      const id = parseInt((this.$route.params as any).id)
      if (isNaN(id)) {
        this.$router.push({ name: 'history' })
        return
      }
      const response = await historyApi.fetchHistoryDetail(id)
      const data = response.data.result
      this.responseData.confident = data.confident
      this.responseData.quizAnswer = data.quiz_answer
      this.responseData.color = data.color
      this.responseData.texture = data.texture
      this.responseData.date = data.timestamp
    } catch (e) {
      // console.log(e)
    }
    this.loaded = true
  },
  async beforeRouteLeave (to, from, next) {
    await this.$store.dispatch('predictData/resetData')
    next()
  }
})
</script>

<style scoped>
.home {
  padding: 64px 0;
  text-align: center;
}

.content {
  padding: 0 1rem;
}
</style>
