<template>
  <!--eslint-disable max-len -->
  <v-container class="content">
    <img id="character-404" src="/static/404.png"/>
    <h3>Ooops...</h3>
    <p>The page you're looking cannot be found.</p>
    <v-btn color="#E2D561" class="font-weight-bold transform-initial"
      :to="{ name: 'home' }">Go back home</v-btn>

  </v-container>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component({
  name: 'not-found'
})
export default class About extends Vue {
}
</script>

<style scoped>
.content {
    margin-top: 80px;
    text-align: center;
}

#character-404 {
    width: calc(100% - 2rem);
    max-width: 330px;
    display: block;
    margin: 10% auto 2rem;
}
</style>
