<template>
  <!--eslint-disable max-len -->
  <div class="home">
    <h1>Questionnaire</h1>
    <div class="questions-container">
      <div class="question-item" v-for="(questionItem, i) in questions" :key="'q'+i">
        <div class="question-number-header">
          <div class="qnh-left"/>
          <div class="qnh-number">{{ i + 1 }}</div>
          <div class="qnh-right"/>
        </div>
        <p class="question-question">{{ questionItem.question }}</p>
        <v-layout row class="question-answers">
          <v-flex xs6 pr-2>
            <v-btn class="transform-initial" block color="#005B61"
            :outlined="questionItem.answer !== true"
            :dark="questionItem.answer === true" @click="clickingYesOnQuestion(i)"
            >Yes &nbsp;&nbsp;<v-icon small>mdi-check</v-icon></v-btn>
          </v-flex>
          <v-flex xs6 pl-2>
            <v-btn class="transform-initial" block color="#005B61"
            :outlined="questionItem.answer !== false"
            :dark="questionItem.answer === false"  @click="clickingNoOnQuestion(i)"
            >No &nbsp;&nbsp;<v-icon small>mdi-close</v-icon></v-btn>
          </v-flex>
        </v-layout>
      </div>
    </div>
    <v-btn dark color="#24B282" class="transform-initial font-weight-bold"
    @click.stop="confirmFinishQuestionnaire()">Finish Questionnaire</v-btn>
    <v-dialog v-model="showConfirmFinishDialogue" persistent max-width="480">
      <v-card class="text-center">
        <v-card-title style="display: block;">
          Finish Test?
        </v-card-title>
        <v-card-text>
          Are you sure to finish the test?
          Make sure you have <strong>pooped enough</strong>
          <v-layout row px-5 pt-6>
            <v-flex xs6 pr-2>
              <v-btn block dark color="#24B282" @click="finishQuestionnaire()">OK</v-btn>
            </v-flex>
            <v-flex xs6 pl-2>
              <v-btn block outlined color="#24B282" class="transform-initial"
              @click.stop="showConfirmFinishDialogue = false">
              Cancel</v-btn>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="errorDialogue.show" persistent max-width="480">
      <v-card class="text-center">
        <v-card-title style="display: block;">
          {{ errorDialogue.title }}
        </v-card-title>
        <v-card-text>
          {{ errorDialogue.message }}
        </v-card-text>
        <v-flex pa-4>
          <v-btn block dark color="#24B282" @click="errorDialogue.show = false">OK</v-btn>
        </v-flex>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'questionnaire' as string,
  data () {
    return {
      showConfirmFinishDialogue: false as boolean,
      errorDialogue: {
        show: false as boolean,
        title: '' as string,
        message: '' as string
      },
      questions: [{
        question: 'Recently, have you been eating a lot of green vegetables?',
        answer: null as boolean
      },
      {
        question: 'Recently, have you taken antibiotics?',
        answer: null as boolean
      },
      {
        question: 'Recently, have you been vomitting?',
        answer: null as boolean
      },
      {
        question: 'Recently, have you been eating food that is very red?',
        answer: null as boolean
      },
      {
        question: 'Recently, have you been eating food that is very green due to food coloring?',
        answer: null as boolean
      },
      {
        question: 'Recently, have you been taking iron supplements?',
        answer: null as boolean
      },
      {
        question: 'Recently, have you been taking the drug "Bismuth subsilcylate"?',
        answer: null as boolean
      },
      {
        question: 'Recently, have you been eating good that is very blue?',
        answer: null as boolean
      },
      {
        question: 'Recently, have you been taking drugs that cures diarrhea?',
        answer: null as boolean
      },
      {
        question: 'Recently, have you been feeling pain, dizzy, or fever?',
        answer: null as boolean
      },
      {
        question: 'Recently, have you been losing weight?',
        answer: null as boolean
      },
      {
        question: 'Recently, have you been going to toilet at a different time than you normally do?',
        answer: null as boolean
      },
      {
        question: 'In the last 2 days, have you been experiencing diarrhea?',
        answer: null as boolean
      }
      ]
    }
  },
  created (): void {
    this.$store.commit('predictData/setQuizAnswers', null)
  },
  methods: {
    clickingYesOnQuestion (questionNumber: any): void {
      this.questions[questionNumber].answer = true
    },
    clickingNoOnQuestion (questionNumber: any): void {
      this.questions[questionNumber].answer = false
    },
    finishQuestionnaire (): void {
      const yesResponses = this.questions.map(
        (qaItem, index) => ({
          answer: qaItem.answer,
          index: index
        })).filter(
        qaItem => qaItem.answer
      ).map(qaItem => qaItem.index)
      this.$store.commit('predictData/setQuizAnswers', yesResponses)
      this.$router.push({ name: 'resultprocessing' })
    },
    confirmFinishQuestionnaire (): void {
      if (this.checkResponseIsAllFilled()) {
        this.showConfirmFinishDialogue = true
      }
    },
    checkResponseIsAllFilled (): boolean {
      const allQuestionIsFilled:boolean = (this.questions.map(question => question.answer) as Array<boolean>).every(
        (i) => i !== null)
      if (!allQuestionIsFilled) {
        this.showErrorMessage('Form incomplete', 'Please answer all questions!')
      }
      return allQuestionIsFilled
    },
    showErrorMessage (title:string, message:string): void {
      this.errorDialogue.title = title
      this.errorDialogue.message = message
      this.errorDialogue.show = true
    }
  }
})
</script>

<style scoped>
h1 {
  font-family: "Nunito Sans";
  font-display: swap;
  font-weight: 800;
  margin-top: 1rem;
}

.home {
  padding: 64px 0;
  text-align: center;
}

.question-number-header {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.qnh-left, .qnh-right {
    height: 4px;
    background: #005b61;
    flex-basis: calc(50% - 25px);
    border-radius: 4rem;
}

.qnh-number {
    flex-grow: 1;
    text-align: center;
    font-size: 1.2rem;
    width: 40px;
    height: 40px;
    border: 3px solid #005b61;
    border-radius: 40px;
    font-weight: 800;
    color: #005b61;
    line-height: 37.5px;
    margin: 0 5px;
}

.questions-container {
    padding: 0 2rem;
    max-width: 31rem;
    margin: 1rem auto;
}

.question-item {
    margin: 1.3rem 0px 4rem;
}

.question-answers {
  padding: 0 2rem;
}

.question-question {
  font-weight: bold;
}
</style>
