<template>
  <!--eslint-disable max-len -->
  <div class="home">
    <view-single-card>
      <template v-slot:title>Request Password Reset</template>
      <div v-if="!successSubmit">
        <p>Enter your e-mail below to confirm reset password action.</p>
        <div class="notice">
        <v-progress-circular
          class="ma-3"
          indeterminate
          color="primary"
          v-if="loading"
          size="25"
          width="2"
        ></v-progress-circular>
        <div v-else class="errors">{{ errorMessage }}</div>
        </div>
        <v-form @submit.prevent="submitRequest()">
          <v-layout column>
            <v-row>
              <v-text-field required v-model="email" dense type="email" outlined label="E-mail"></v-text-field>
            </v-row>
            <v-row>
            <v-btn type="submit" block dark class="transform-initial font-weight-bold mb-3" color="#24B382" @click="submitRequest()">Submit request</v-btn>
            </v-row>
          </v-layout>
        </v-form>
      </div>
      <v-layout class="px-3 pt-3" v-else column>
        <v-row class="mb-5">
          Your request has been recorded. Check your email to confirm your request.
        </v-row>
        <v-row>
            <v-btn block dark class="transform-initial font-weight-bold mb-3" color="#24B382" @click="goHome()">Back to Home</v-btn>
        </v-row>
      </v-layout>
    </view-single-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import accountApi from '@/services/mainApi/account'
import ViewSingleCard from '@/components/ViewSingleCard.vue'

export default Vue.extend({
  name: 'requestresetpassword' as string,
  components: {
    ViewSingleCard
  },
  data () {
    return {
      email: '' as string,
      errorMessage: '' as string,
      loading: false as boolean,
      successSubmit: false as boolean
    }
  },
  methods: {
    async submitRequest (): Promise<any> {
      this.errorMessage = ''
      try {
        this.loading = true
        const response = await accountApi.forgotPassword(this.email)
        this.successSubmit = true
      } catch (e) {
        this.errorMessage = 'Something went wrong. Try again later.'
      } finally {
        this.loading = false
      }
    },
    goHome (): void {
      this.$router.push('/')
    }
  }
})
</script>

<style scoped>
.notice {
    line-height: 1.3;
    margin-top: 0.5em;
    min-height: 3rem;
}

.errors {
    color: #e93d1e;
    line-height: 1;
    margin: 1rem;
}
</style>
