<template>
  <!--eslint-disable max-len -->
  <div class="home">
    <view-single-card>
      <template v-slot:title>Reset Password</template>
      <template v-if="resetSuccess">
        <p style="color:green">Reset password success.
          <v-icon color="green">mdi-check</v-icon>
        </p>
        <v-btn block dark class="transform-initial font-weight-bold mb-3" color="#24B382" @click="goHome()"
        >Go Back to Home</v-btn>
      </template>
      <div class="notice">
      <v-progress-circular
        class="ma-3"
        indeterminate
        color="primary"
        v-if="loading"
        size="25"
        width="2"
      ></v-progress-circular>
      <div v-else class="errors">{{ errorMessage }}</div>
      </div>
      <v-form @submit.prevent="resetPassword()">
        <v-layout column>
          <v-row>
            <v-text-field required v-model="password" dense type="password" outlined label="New Password"></v-text-field>
          </v-row>
          <v-row>
            <v-text-field required v-model="confirmPassword" dense type="password" outlined label="Confirm New Password"></v-text-field>
          </v-row>
          <v-row>
            <v-btn type="submit" block dark class="transform-initial font-weight-bold mb-3" color="#24B382" @click="resetPassword()">Reset Password</v-btn>
          </v-row>
        </v-layout>
      </v-form>
    </view-single-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import accountApi from '@/services/mainApi/account'
import ViewSingleCard from '@/components/ViewSingleCard.vue'

export default Vue.extend({
  name: 'resetpassword' as string,
  components: {
    ViewSingleCard
  },
  data () {
    return {
      pageLoaded: false as boolean,
      loading: false as boolean,
      resetSuccess: false as boolean,
      password: '' as string,
      confirmPassword: '' as string,
      resetToken: '' as string,
      errorMessage: '' as string
    }
  },
  async created () {
    this.resetToken = (this.$route.query as any).token || ''
    try {
      const response = await accountApi.changePasswordLinkCheck(this.resetToken)
    } catch (e) {
      this.$router.push({ name: 'notfound-404' })
    }
  },
  methods: {
    async resetPassword (): Promise<any> {
      this.errorMessage = ''
      try {
        this.loading = true
        const response = await accountApi.changePasswordLink(this.resetToken, this.password, this.confirmPassword)
        this.resetSuccess = true
      } catch (e) {
        this.errorMessage = 'Something went wrong. Try again later.'
      } finally {
        this.loading = false
      }
    },
    goHome (): void {
      this.$router.push({ name: 'home' })
    }
  }
})
</script>

<style scoped>
.notice {
    line-height: 1.3;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    min-height: 3rem;
}

.errors {
    color: #e93d1e;
    line-height: 1;
    margin: 1rem;
}
</style>
