<template>
  <!--eslint-disable max-len -->
  <div class="home">
    <div class="content">
      <ResultInfoView
        :confident="responseData.confident"
        :texture="responseData.texture"
        :color="responseData.color"
        :quiz-answer="responseData.quizAnswer"
        :date="responseData.date"
        :is-after-predict="true"
        v-if="loaded">
      </ResultInfoView>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import ResultInfoView from '@/components/ResultInfoView.vue'

export default Vue.extend({
  name: 'result' as string,
  data () {
    return {
      loaded: false as boolean,
      responseData: {
        confident: false as boolean,
        texture: 'constipate' as string,
        color: 'brown' as string,
        quizAnswer: '[1, 2, 3, 4]' as string,
        date: new Date().toISOString()
      }
    }
  },
  components: {
    ResultInfoView
  },
  created () {
    if (this.$store.getters['predictData/confident'] == null) {
      this.$router.replace({ name: 'start' })
      return
    }
    this.responseData.confident = this.$store.getters['predictData/confident']
    this.responseData.texture = this.$store.getters['predictData/texture']
    this.responseData.color = this.$store.getters['predictData/color']
    this.responseData.quizAnswer = this.$store.getters['predictData/quizAnswers']
    this.loaded = true
  },
  async beforeRouteLeave (to, from, next) {
    await this.$store.dispatch('predictData/resetData')
    next()
  }
})
</script>

<style scoped>
.home {
  padding: 64px 0;
  text-align: center;
}

.content {
  padding: 0 1rem;
}
</style>
