<template>
  <!--eslint-disable max-len -->
  <div class="home">
    <div class="content">
      <div class="intro" v-if="!processingStarted">
        <toilet-web-bluetooth></toilet-web-bluetooth>
      </div>
      <div class="processing" v-else>
        <h1>Processing...</h1>
        <AnimatedLoading></AnimatedLoading>
        <p>Please wait while we analyze the data, do not refresh the page.</p>
        <p>It will takes a couple a moments.</p>
      </div>
    </div>
    <v-dialog v-model="showQuestionDialogue" persistent max-width="480">
      <v-card class="text-center">
        <v-card-title style="display: block;">
          Questionnaire Needed
        </v-card-title>
        <v-card-text>
          To continue, please fill the questionnaire first.
        <v-layout row mt-5 pa-2>
          <v-flex pa-2>
            <v-btn block dark color="#24B282" @click="goToQuestionnairePage()">Go to Questionnaire</v-btn>
          </v-flex>
          <v-flex pa-2>
            <v-btn block dark color="#24B282" @click="goToMenu()">Back to Menu</v-btn>
          </v-flex>
        </v-layout>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import ToiletWebBluetooth from '@/components/ToiletWebBluetooth.vue'
import AnimatedLoading from '@/components/AnimatedLoading.vue'

export default Vue.extend({
  name: 'resultprocessing' as string,
  components: {
    ToiletWebBluetooth,
    AnimatedLoading
  },
  data () {
    return {
      processingStarted: false as boolean,
      showQuestionDialogue: false as boolean
    }
  },
  created (): void {
    let demo
    // demo = true
    if (demo) {
      this.$store.commit('predictData/setQuizAnswers', [0, 3, 6])
    } else {
      this.checkIfQuestionnaireIsFilled()
    }
  },
  mounted (): void {
    // setTimeout(() => this.processFinishedResult(), 3000)
  },
  methods: {
    processFinishedResult (): void {
      this.$router.push({ name: 'result', query: { id: Math.round(Math.random() * 10).toString() } })
    },
    checkIfQuestionnaireIsFilled (): void {
      const qnnaireData = this.$store.getters['predictData/quizAnswers']
      if (qnnaireData == null) {
        this.showQuestionDialogue = true
      }
    },
    goToQuestionnairePage (): void {
      this.$router.push({ name: 'questionnaire' })
    },
    goToMenu (): void {
      this.$router.push({ name: 'home' })
    }
  }
})
</script>

<style scoped>
h1 {
  font-family: "Nunito Sans";
  font-display: swap;
  font-weight: 800;
  margin: 1rem 0;
}

.home {
  text-align: center;
  position: relative;
  height: 100%;
  min-height: 350px;
}

.content {
  padding: 80px 1rem 0;
}

p {
  margin: 2em;
  color: #005B61;
}
</style>
