<template>
  <!--eslint-disable max-len -->
  <div class="home">
    <view-single-card>
      <template v-slot:title>Sign In</template>
      <div class="notice">
        <p v-if="signInSuccess" style="color:green">Sign in success <v-icon color="green">mdi-check</v-icon></p>
        <v-progress-circular
          class="ma-3"
          indeterminate
          color="primary"
          v-if="loading"
          size="25"
          width="2"
        ></v-progress-circular>
        <div v-else class="errors">{{ errorMessage }}</div>
      </div>
      <v-form @submit.prevent="signIn()">
        <v-layout column>
          <v-row>
            <v-text-field required v-model="username" dense type="text" outlined label="Username"></v-text-field>
          </v-row>
          <v-row>
          <v-text-field required v-model="password" dense type="password" outlined label="Password"></v-text-field>
          </v-row>
          <v-row class="forgot-password">
            <a href="/request-reset-password">Forgot password?</a>
          </v-row>
          <v-row>
          <v-btn type="submit" block dark class="transform-initial font-weight-bold mb-3" color="#24B382" @click="signIn()">Sign in</v-btn>
          </v-row>
          <v-row class="make-account">
            <a href="/sign-up">Make an account</a>
          </v-row>
          <v-row>
          <v-btn block class="transform-initial font-weight-bold" outlined color="#24B382" @click="useWithoutSignIn()">Use without sign in</v-btn>
          </v-row>
        </v-layout>
      </v-form>
    </view-single-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import accountApi from '@/services/mainApi/account'
import ViewSingleCard from '@/components/ViewSingleCard.vue'

export default Vue.extend({
  name: 'signin' as string,
  components: {
    ViewSingleCard
  },
  data () {
    return {
      username: '' as string,
      password: '' as string,
      errorMessage: '' as string,
      loading: false as boolean,
      signInSuccess: false as boolean
    }
  },
  created () {
    if (this.isLoggedIn) {
      this.$router.push({ name: 'home' })
    }
  },
  computed: {
    isLoggedIn (): boolean {
      return this.$store.getters['authentication/jwtAccess'] !== ''
    }
  },
  methods: {
    async signIn (): Promise<any> {
      this.errorMessage = ''
      try {
        this.loading = true
        const response = await accountApi.login(this.username, this.password)
        this.$store.commit('authentication/setJwtAccess', response.data.access)
        this.$store.commit('authentication/setJwtRefresh', response.data.refresh)
        this.loading = false
        this.signInSuccess = true
        await new Promise((resolve) => { setTimeout(() => { resolve() }, 500) })
        this.$router.push({ name: 'start' })
      } catch (e) {
        if (e.response.status === 401) {
          this.errorMessage = 'Username/password is not correct.'
        } else {
          this.errorMessage = 'Something went wrong. Try again later.'
        }
      } finally {
        this.loading = false
      }
    },
    useWithoutSignIn (): void {
      this.$router.push({ name: 'start' })
    }
  }
})
</script>

<style scoped>
.notice {
    line-height: 1.3;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    min-height: 3rem;
}

.errors {
    color: #e93d1e;
    line-height: 1;
    margin: 1rem;
}

.forgot-password {
  text-align: right;
  margin-top: -0.5rem;
  margin-bottom: 2rem;
}

.make-account {
  height: 3rem;
  line-height: 3rem;
  text-align: center;
}

.make-account a, .forgot-password a {
  width: 100%;
}
</style>
