<template>
  <!--eslint-disable max-len -->
  <div class="home">
    <view-single-card>
      <template v-slot:title>Sign Up</template>
      <div class="notice">
        <p v-if="signUpSuccess" style="color:green">Sign up success. <v-icon color="green">mdi-check</v-icon></p>
        <v-progress-circular
          class="ma-3"
          indeterminate
          color="primary"
          v-if="loading"
          size="25"
          width="2"
        ></v-progress-circular>
        <div v-else class="errors">{{ errorMessage }}</div>
      </div>
      <v-layout column>
        <v-row>
        <v-text-field v-model="email" dense type="email" outlined label="E-mail"></v-text-field>
        </v-row>
        <v-row>
          <v-text-field v-model="username" dense type="text" outlined label="Username"></v-text-field>
        </v-row>
        <v-row>
        <v-text-field v-model="password" dense type="password" outlined label="Password"></v-text-field>
        </v-row>
        <v-row>
        <v-btn block dark class="transform-initial font-weight-bold mb-3" color="#24B382" @click="signUp()">Sign up</v-btn>
        </v-row>
      </v-layout>
    </view-single-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import accountApi from '@/services/mainApi/account'
import ViewSingleCard from '@/components/ViewSingleCard.vue'

export default Vue.extend({
  name: 'signup',
  components: {
    ViewSingleCard
  },
  data () {
    return {
      email: '' as string,
      username: '' as string,
      password: '' as string,
      errorMessage: '' as string,
      loading: false as boolean,
      signUpSuccess: false
    }
  },
  methods: {
    async signUp (): Promise<any> {
      this.errorMessage = ''
      try {
        this.loading = true
        await accountApi.createAccount(this.email, this.username, this.password)
        this.signUpSuccess = true
        this.loading = false
        await new Promise((resolve) => { setTimeout(() => { resolve() }, 1000) })
        const response = await accountApi.login(this.username, this.password)
        this.$store.commit('authentication/setJwtAccess', response.data.access)
        this.$store.commit('authentication/setJwtRefresh', response.data.refresh)
        this.$router.push({ name: 'start' })
      } catch (e) {
        const response = (e.response || {})
        const respData = (response.data || {})
        const respMessage = respData.message
        if (respMessage) {
          const messageKeys = Object.keys(respMessage)
          this.errorMessage = respMessage[messageKeys[0]].toString()
        } else {
          this.errorMessage = 'Something went wrong. Please check again.'
        }
      } finally {
        this.loading = false
      }
    }
  }
})
</script>

<style scoped>
.notice {
    line-height: 1.3;
    margin: 0.5em;
    min-height: 3.7rem;
}

.errors {
    color: #e93d1e;
    line-height: 1;
}
</style>
