<template>
  <!--eslint-disable max-len -->
  <div class="home">
    <div class="app_header">
      <div class="app_header-content">
        <h1>Ready to get started?</h1>
        <p>We will ask few questions and then we capture your waste</p>
        <v-btn color="#E2D561" class="font-weight-bold" @click="startQuestions()  ">Start</v-btn>
      </div>
      <div class="app_header-back_image-container">
        <div class="app_header-back_image-overlay"></div>
        <img :src="require('../assets/comprof-header.jpg')"/>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'start' as string,
  methods: {
    startQuestions (): void {
      this.$router.push({ name: 'questionnaire' })
    }
  }
})
</script>

<style scoped>
.app_header {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.app_header-content {
    padding: 1rem;
    padding-top : 64px;
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100%;
    position: relative;
    width: 100%;
}

.app_header-back_image-container {
    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    z-index: -1;
    width: 100%;
}

.app_header-back_image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.app_header-back_image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #39A99C 0%, rgba(255, 255, 255, 0) 100%), #145B32;
    opacity: 0.6;
}

.app_header-content {
  color: white;
  flex-flow: column;
  text-align: center;
}

.app_header-content h1 {
  line-height: 1.2;
  margin-bottom: 0.4rem;
}
</style>
