<template>
    <div class="loading-container">
      <v-progress-circular
        class="animprog-prog"
        color="white"
        v-if="!indeterminate"
        size="179"
        width="7"
        rotate="270"
        v-model="progress"
      ></v-progress-circular>
      <div class="loading-indeterminate" v-if="indeterminate">
        <img :src="require('../assets/tot/loading2.png')"/>
        <div class="loading-mask"/>
      </div>
      <div :class="['emoji-container', showTextIfNecessary ? 'text_progress-show' : '']">
        <img :src="require('../assets/tot/body-outline_white.svg')" class="im-body-white"/>
        <img :src="require('../assets/tot/body.svg')" class="im-body"/>
        <img :src="require('../assets/tot/eye-single.svg')" class="im-eye-left"/>
        <img :src="require('../assets/tot/eye-single.svg')" class="im-eye-right"/>
        <img :src="require('../assets/tot/eyebrow.svg')" class="im-eyebrow"/>
        <img :src="require('../assets/tot/mouth.svg')" class="im-mouth"/>
        <img :src="require('../assets/tot/hand.svg')" class="im-hand"/>
      </div>
      <div :class="['text_progress', showTextIfNecessary ? 'text_progress-show' : '']">{{ parseInt(progress) }}%</div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'AnimatedLoading',
  props: {
    progress: {
      type: Number,
      default: 50
    },
    indeterminate: {
      type: Boolean,
      default: true
    },
    showText: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    showTextIfNecessary (): boolean {
      return !this.indeterminate && this.showText
    }
  }
})
</script>

<style scoped>
@keyframes EYE_BLINK {
  0%   { transform: scaleY(1); }
  80%   { transform: scaleY(1); }
  90%   { transform: scaleY(0); }
  100% { transform: scaleY(1); }
}

@keyframes EYEBROW_BLINK {
  0%   { transform: translateY(0); }
  80%   { transform: translateY(0); }
  90%   { transform: translateY(5px); }
  100% { transform: translateY(0); }
}

@keyframes LOADING {
  0%   { transform: rotate(0) translate(-50%, -50%); }
  100% { transform: rotate(-720deg) translate(-50%, -50%); }
}

.loading-container {
    position: relative;
    background: #005b61;
}

.emoji-container, .loading-container {
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

.animprog-prog {
    transform: translate(-50%, -50%);
}

.loading-indeterminate {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    overflow: hidden;
}

.emoji-container, .loading-container > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.emoji-container > *, .loading-indeterminate > * {
    position: absolute;
    top: 50%;
    left: 50%;
}

.loading-indeterminate, .loading-indeterminate > img, .loading-mask, .im-body, .im-body-white {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-mask {
    width: 165px;
    height: 165px;
    background: #005b61;
    border-radius: 100%;
}

.loading-indeterminate > img {
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    transform: rotate(0deg) translate(-50%, -50%);
    animation: LOADING 2s infinite linear;
    transform-origin: 0% 0%;
}

.im-eye-left {
    top: 45%;
    left: calc(49% - 5%);
}

.im-eye-right {
    top: 45.3%;
    left: calc(50% + 3.8%);
}

.im-eye-left, .im-eye-right {
    animation: EYE_BLINK 2s infinite;
}

.im-mouth {
    top: 59%;
    left: 53%;
    transform: translate(-50%, -50%);
}

.im-hand {
    top: 51%;
    left: 24%;
    transform: rotate(-14deg);
}

.im-eyebrow {
    top: 38%;
    left: 41%;
    animation: EYEBROW_BLINK 2s infinite;
}

@keyframes MOUTH_ROTATE {
  0%   { transform: rotate(0deg); }
  50%   { transform: rotate(4deg) translateY(-3px); }
  100% { transform: rotate(0deg); }
}

.im-mouth {
    left: 43%!important;
    top: 57%!important;
    animation: 4s MOUTH_ROTATE infinite;
}

.emoji-container.text_progress-show {
    top: 40%;
    transform: translate(-50%, -50%) scale(0.8);
}

.text_progress {
    display: none;
}

.text_progress.text_progress-show {
    display: block;
    font-weight: bold;
    top: 76%;
    color: white;
    font-size: 23px;
    text-shadow: 0 0.2rem 0.2rem rgba(0,0,0,0.4);
}

</style>
