<template>
  <div id="drop_zone" @dragover="handleDragOver($event)" @drop="handleFileSelect($event)">
    <div v-if="value">
      <p class="drop-info">{{ fileName }} ({{ fileSize }})</p>
      <v-btn @click="chooseFileByMenu">Change file</v-btn>
    </div>
    <div v-else>
      <p>Drop file here</p>
      <p>or</p>
      <v-btn @click="chooseFileByMenu">Choose a file</v-btn>
    </div>
    <p class="note" v-if="allowedText.trim()">{{allowedText}}</p>
    <input type="file" hidden ref="file-input" @change="handleFileChange($event)"  :accept="allowed"/>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue'

export default Vue.extend({
  name: 'FileChooserDrop',
  props: {
    value: {
      type: File,
      default: null
    } as PropOptions<File>,
    allowedText: {
      type: String,
      default: ''
    },
    allowed: {
      type: String,
      default: '.bin'
    }
  },
  computed: {
    fileName (): string {
      if (this.value === null) {
        return ''
      } else {
        return this.getPrettifiedFileName(this.value.name)
      }
    },
    fileSize (): string {
      if (this.value === null) {
        return ''
      } else {
        return this.getPrettifiedFileSize(this.value.size)
      }
    }
  },
  methods: {
    resetFile (): void {
      this.$emit('input', null)
    },

    getPrettifiedFileSize (byteSize: number): string {
      const base = Math.floor(Math.log2(byteSize) / 10)
      let string = 'bytes'
      const metrics = ['Tb', 'Gb', 'Mb', 'Kb', 'bytes']
      const indexBase = Math.max(metrics.length - base - 1, 0)
      const indexMultiply = Math.min(base, metrics.length - 1)
      const basePretty = Math.round(byteSize / Math.pow(2, indexMultiply * 10) * 100) / 100
      return basePretty + ' ' + metrics[indexBase]
    },

    getPrettifiedFileName (fileName: string): string {
      return fileName.slice(0, 50) + (fileName.length > 50 ? '...' : '')
    },

    chooseFileByMenu (): void {
      (this.$refs['file-input'] as HTMLInputElement).click()
    },

    handleFileSelect (evt: any) {
      evt.stopPropagation()
      evt.preventDefault()

      var files = evt.dataTransfer.files
      var output = []
      if (files.length > 0) {
        this.$emit('input', files[0])
      }
    },

    handleFileChange (event: any): void {
      const fileElem = (this.$refs['file-input'] as HTMLInputElement)
      if (fileElem.files.length > 0) {
        this.$emit('input', fileElem.files[0])
        fileElem.files = null
      }
    },

    handleDragOver (evt: any) {
      evt.stopPropagation()
      evt.preventDefault()
      evt.dataTransfer.dropEffect = 'copy'
    }
  }
})
</script>

<style scoped>
#drop_zone {
    max-width: 25rem;
    color: rgba(0,0,0,0.5);
    margin: 1rem auto;
    height: 40vh;
    min-height: 10rem;
    max-height: 20rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    border: 2px dashed;
    background-color: #005b6121;
    font-size: 1.5rem;
    padding: 1rem;
}

.drop-info {
    font-size: 1rem;
    word-break: break-word;
}

#drop_zone p {
    margin-bottom: 0;
}

.note {
  font-size: 0.8rem;
  padding-top: 0.5rem;
}
</style>
