<template>
  <!--eslint-disable max-len -->
  <div class="content">
    <template v-if="!loaded">
      <div>
        <AnimatedLoading></AnimatedLoading>
        Please wait...
      </div>
    </template>
    <div class="errors" v-else-if="errorCode !== 0">
      <img class="error-image" :src="require('@/assets/result-error.png')"/>
      <p v-if="errorCode === 1">Something's wrong. Please go back to <router-link to="/">menu</router-link> page.</p>
      <template v-else><p>{{ errorMessage }}</p>
        <v-btn dark color="#24B282" class="transform-initial font-weight-bold"
        @click.stop="showExplanations()"><v-icon left>mdi-reload</v-icon> Try again</v-btn>
        </template>
    </div>
    <template v-else>
      <h1><slot name="title">Result</slot></h1>
      <p>Readings on {{ getPrettifiedTime(date) }}</p>
      <div class="emoji-container">
        <img class="emoji-body" :src="getBodyUrl(color, texture)"/>
        <img class="emoji-face" :src="getFaceUrl(color, confident, texture)"/>
      </div>
      <div class="result-info">
        <template v-if="isHealthy">
          <p>This is the best diagnosis that we can give you.</p>
          <ul>
            <li v-for="(problem, i) in explanations" :key="'prob'+i">{{ problem }}</li>
          </ul>
        </template>
        <template v-else>
          <p>This is the best diagnosis that we can give you.</p>
          <ul>
            <li v-for="(problem, i) in explanations" :key="'prob'+i">{{ problem }}</li>
          </ul>
          <p>Check your doctor for further advice.</p>
        </template>
      </div>
      <slot name="navigations">
        <v-btn dark color="#24B282" class="transform-initial font-weight-bold"
        @click.stop="goBack()">
          <v-icon small>mdi-chevron-left</v-icon>
          {{ isLoggedIn ? (isAfterPredict ? 'Go To History' : 'Back') : 'Back to Home' }}
        </v-btn>
      </slot>
    </template>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import predictorApi from '@/services/predictorApi/predictor'
import AnimatedLoading from '@/components/AnimatedLoading.vue'
import { dateName } from '@/utils/DateNameUtils'
import emotionAssets from '@/utils/EmotionAssets'

interface IData {
    [ key: string ]: any;
}

const ERR2CODE = { 'NO_ERROR': 0, 'IMPROPER_PROPS': 1, 'NO_CONNECTION': 2, 'SERVER_ERROR': 3 }
const CODE2ERR = ['NO_ERROR', 'IMPROPER_PROPS', 'NO_CONNECTION', 'SERVER_ERROR']

export default Vue.extend({
  name: 'result' as string,
  components: {
    AnimatedLoading
  },
  data () {
    return {
      loaded: false as boolean,
      explanations: [] as Array<string>,
      errorMessage: '',
      errorCode: 0,
      imagePath: process.env.BASE_URL + 'img/history-emoji/'
    }
  },
  props: {
    confident: {
      type: Boolean,
      required: true,
      default: null
    },
    texture: {
      type: String,
      required: true,
      default: null
    },
    color: {
      type: String,
      required: true,
      default: null
    },
    quizAnswer: {
      type: Array,
      required: true,
      default: null
    },
    date: {
      type: String,
      default: null,
      required: true
    },
    isAfterPredict: {
      type: Boolean,
      required: true
    }
  },
  created () {
    if (this.color == null || this.texture == null || this.quizAnswer == null || this.confident == null) {
      this.errorCode = 1
      return
    }
    this.showExplanations()
  },
  computed: {
    isHealthy (): Boolean {
      return this.texture.toLowerCase() === 'normal'
    },
    isLoggedIn (): boolean {
      return this.$store.getters['authentication/jwtAccess'] !== ''
    }
  },
  methods: {
    async showExplanations (): Promise<void> {
      this.loaded = false
      this.errorCode = 0
      this.errorMessage = ''
      try {
        const response = await predictorApi.getExplanations(
          this.confident, this.texture, this.color, this.quizAnswer as number[]) as any
        const data = response.data
        this.explanations = data.result
        this.errorCode = ERR2CODE.NO_ERROR
      } catch (e) {
        if (((e as any).response || {} as any).status === 500) {
          this.errorMessage = 'Something went wrong. Please try again later.'
          this.errorCode = ERR2CODE.SERVER_ERROR
        } else {
          this.errorMessage = 'Something went wrong. Please try again later.'
        }
      } finally {
        this.loaded = true
      }
    },
    goBack (): void {
      if (this.isAfterPredict) {
        if (this.isLoggedIn) {
          this.$router.push({ name: 'history' })
        } else {
          this.$router.push({ name: 'home' })
        }
      } else {
        this.$router.back()
      }
    },
    getPrettifiedTime (time: string): string {
      return dateName.prettifyDateTime(time)
    },
    getFaceUrl (color: string, confidence: boolean, texture: string): string {
      return this.imagePath + emotionAssets.getFaceUrl(color, confidence, texture)
    },
    getBodyUrl (color: string, texture: string): string {
      return this.imagePath + emotionAssets.getBodyUrl(color, texture)
    }
  }
})
</script>

<style scoped>
h1 {
  font-family: "Nunito Sans";
  font-display: swap;
  font-weight: 800;
  margin-top: 1rem;
}

.content {
  padding: 0 1rem;
}

.emoji-container {
    padding: 1rem;
    height: 200px;
    width: 200px;
    position: relative;
    background: #005b61;
    margin: 1.9rem auto;
    border-radius: 200px;
}

.emoji-container .emoji-body, .emoji-container .emoji-face {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
}

.content h3 {
    color: #005b61;
    font-size: 1.4rem;
    font-weight: 800;
    font-family: "Nunito Sans";
    font-display: swap;
    padding: 0.8rem;
}

.result-info {
    line-height: 1.2;
}

.result-info ul {
    max-width: 350px;
    margin: auto;
    text-align: left;
}

.result-info ul li {
    margin-bottom: 0.9rem;
}

.error-image {
    width: 190px;
    margin-bottom: 2rem;
}

.errors {
    padding-top: 3rem;
    color: rgba(0,0,0,0.5);
}
</style>
