<template>
  <div>
    <div v-if="connecting.isRunning && !connecting.finished">
      <AnimatedLoading></AnimatedLoading>
      Connecting...
      Do not refresh this page until all process is done.
    </div>
    <div v-else-if="connecting.status === 'error'">
      <p>{{ connecting.errorMessage }}</p>
      <div class="text-center ma-4">
        <v-btn my-3 color="#24B282" dark v-on:click="startToiletCapture()">Retry</v-btn>
      </div>
    </div>
    <div v-else-if="capturing.isRunning && !capturing.finished && capturePercentage < 1" class="section-process">
      <AnimatedLoading></AnimatedLoading>
      <p>Capturing in progress...<br>Do not refresh this page until all process is done.</p>
    </div>
    <div v-else-if="capturing.isRunning && !capturing.finished" class="section-process">
      <AnimatedLoading :progress="capturePercentage" :indeterminate="false"></AnimatedLoading>
      <p>Transferring data in progress...<br>You can flush your toilet now.<br>Do not refresh this page until all process is done.</p>
    </div>
    <div v-else-if="capturing.status === 'error'">
      <p>{{ capturing.errorMessage }}</p>
      <div class="text-center ma-4">
        <v-btn my-3 color="#24B282" dark v-on:click="startToiletCapture()">Retry</v-btn>
      </div>
    </div>
    <div v-else-if="uploading.isRunning && !uploading.finished" class="section-process">
      <AnimatedLoading></AnimatedLoading>
      <p>Predicting in progress...<br>Do not refresh this page until all process is done.</p>
    </div>
    <div v-else-if="uploading.status === 'error'">
      <p class="px-6">{{ uploading.errorMessage }}</p>
      <div class="text-center ma-4">
        <v-btn class="mr-2" color="#24B282" dark v-on:click="sendThisImageToPredictService()">Retry</v-btn>
        <v-btn class="ml-2" color="#24B282" dark v-on:click="resetAllActivityStatus()">Start over</v-btn>
      </div>
    </div>
    <div v-else-if="uploading.finished">
      <AnimatedLoading></AnimatedLoading>
      Finished!
    </div>
    <div v-else>
      <div class="message-pre" v-if="genericErrorMessage.length <= 0">
        Turn on Bluetooth and GPS on your device and start capturing.
        <div class="text-center ma-4">
          <v-btn my-3 color="#24B282" dark v-on:click="startToiletCapture()">Start Capture</v-btn>
        </div>
        <div class="bar-separator"></div>
        <div class="demo">
          <p>For demo purposes, you can also directly upload the file.</p>
          <FileChooserDrop v-model="droppedFile" allowed=".bin" allowed-text="Allowed file: .BIN"/>
          <p class="errors" v-if="demo.errorMessage">{{ demo.errorMessage }}</p>
          <v-btn my-3 color="#24B282" dark v-on:click="uploadFile()" :disabled="demo.errors">Predict</v-btn>
        </div>
      </div>
      <div class="error-try-again" v-else>
        <p>{{ genericErrorMessage }}</p>
        <div class="text-center ma-4">
          <v-btn my-3 color="#24B282" dark v-on:click="startToiletCapture()">Retry</v-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { mapState, mapActions, mapGetters } from 'vuex'
import FileSaver from 'file-saver'
import {
  readLargeValue,
  writeLargeValue,
  BluetoothServiceOption,
  BluetoothIOProgress
} from '@/services/bluetooth'
import Toilet from '@/services/bluetooth/toilet'
import { BluetoothVuexDevice, WebBluetoothState, BluetoothVuexDeviceOption } from '@/store/webBluetooth'
import predictorApi from '@/services/predictorApi/predictor'
import FileChooserDrop from '@/components/FileChooserDrop.vue'
import AnimatedLoading from '@/components/AnimatedLoading.vue'

const deviceConfig = new Toilet()

@Component({
  name: 'toilet-web-bluetooth',
  components: {
    AnimatedLoading,
    FileChooserDrop
  },
  computed: {
    ...mapGetters('webBluetooth', ['device', 'service', 'characteristicForService'])
  },
  methods: {
    ...mapActions('webBluetooth', ['addDevice', 'removeDevice', 'connectDevice', 'disconnectDevice'])
  }
})
export default class ToiletWebBluetooth extends Vue {
  // Redefining things from "computed" and "methods"
  device!: BluetoothVuexDevice
  capturing = {
    status: '' as string,
    errorMessage: '' as string,
    isRunning: false as boolean,
    progress: new BluetoothIOProgress(),
    finished: false as boolean
  }
  uploading = {
    status: '' as string,
    errorMessage: '' as string,
    isRunning: false as boolean,
    finished: false as boolean
  }
  connecting = {
    status: '' as string,
    errorMessage: '' as string,
    isRunning: false as boolean,
    finished: false as boolean
  }
  demo = {
    status: '' as string,
    errorMessage: '' as string
  }
  genericErrorMessage = '' as string
  image = Buffer.from('')
  uploadErrorFile = ''
  droppedFile = null as any

  get capturePercentage (): number {
    return this.capturing.progress.getPercentage()
  }

  service!: (serviceUuid: string) => BluetoothRemoteGATTService
  characteristicForService!: (service: BluetoothRemoteGATTService, uuid: string) => BluetoothRemoteGATTCharacteristic

  connectDevice!: (option: BluetoothVuexDeviceOption) => BluetoothVuexDevice
  disconnectDevice!: () => void

  resetAllActivityStatus (): void {
    this.connecting.status = ''
    this.connecting.errorMessage = ''
    this.connecting.isRunning = false
    this.connecting.finished = false
    this.capturing.status = ''
    this.capturing.errorMessage = ''
    this.capturing.isRunning = false
    this.capturing.progress = new BluetoothIOProgress()
    this.capturing.finished = false
    this.uploading.status = ''
    this.uploading.errorMessage = ''
    this.uploading.isRunning = false
    this.uploading.finished = false
  }

  async startToiletCapture (): Promise<void> {
    this.genericErrorMessage = ''
    this.image = Buffer.from('')
    let characteristic: BluetoothRemoteGATTCharacteristic
    let service: BluetoothRemoteGATTService
    let serviceConfig: BluetoothServiceOption
    let device: BluetoothVuexDevice
    try {
      this.resetAllActivityStatus()
      this.connecting.isRunning = true
      device = await this.connectDevice(deviceConfig.toVuexDeviceOption())
      serviceConfig = deviceConfig.services.filter(service => service.name === 'main')[0]
      service = this.service(serviceConfig.uuid)
      characteristic = this.characteristicForService(service, serviceConfig.captureUuid)
      this.connecting.finished = true
    } catch (e) {
      this.connecting.finished = false
      this.connecting.status = 'error'
      this.connecting.errorMessage = 'Bluetooth connection failed. Please try again.'

      if (e.name.indexOf('NotFoundError') >= 0 && e.message.indexOf('requestDevice()')) {
        this.connecting.errorMessage = 'Bluetooth connection cancelled. Please try again.'
      }
    }
    this.connecting.isRunning = false

    if (!this.connecting.finished) {
      return
    }
    this.capturing.isRunning = true

    try {
      let image: Buffer
      try {
        image = await readLargeValue(characteristic, this.capturing.progress)
        this.image = image
        this.capturing.status = 'success'
        this.capturing.finished = true
        this.sendToPredictService(this.image)
      } catch (e) {
        this.capturing.status = 'error'
        this.capturing.finished = false
        this.capturing.errorMessage = e.toString()
      }
      this.capturing.isRunning = false
    } catch (e) {
      this.handleError(e)
    }
  }

  handleError (error: any): void {
    this.genericErrorMessage = 'Something went wrong. Please try again.'
    console.log(error, error.name, error.message)
  }

  getPrettifiedFileSize (byteSize: number) {
    const base = Math.floor(Math.log2(byteSize) / 10)
    let string = 'bytes'
    const metrics = ['Tb', 'Gb', 'Mb', 'Kb', 'bytes']
    const indexBase = Math.max(metrics.length - base - 1, 0)
    const indexMultiply = Math.min(base, metrics.length - 1)
    const basePretty = Math.round(byteSize / Math.pow(2, indexMultiply * 10) * 100) / 100
    return basePretty + ' ' + metrics[indexBase]
  }

  getPrettifiedFileName (fileName: string) {
    return fileName.slice(0, 50) + (fileName.length > 50 ? '...' : '')
  }

  readFile (file: any): Promise<any> {
    return new Promise((resolve, reject) => {
      const reader = new FileReader()
      reader.readAsArrayBuffer(file)
      reader.onload = () => resolve(reader.result)
      reader.onerror = error => reject(error)
    })
  }

  validateFileType (file: File) {
    this.demo.errorMessage = ''
    if (file === null) {
      this.demo.errorMessage = 'No file chosen.'
      return false
    }
    if (!file.name.toLowerCase().endsWith('.bin')) {
      this.demo.errorMessage = 'Only .BIN files are allowed.'
      return false
    }
    return true
  }

  async uploadFile (): Promise<void> {
    if (!this.validateFileType(this.droppedFile)) {
      return
    }
    this.resetAllActivityStatus()
    this.image = Buffer.from('')
    if (!this.droppedFile) {
      this.uploadErrorFile = 'Please choose a file'
      return
    }
    let imageBuffer: Buffer = null
    try {
      imageBuffer = Buffer.from(await this.readFile(this.droppedFile))
    } catch (e) {
      this.uploadErrorFile = 'The file cannot be read. Please choose another file.'
    }

    if (imageBuffer !== null) {
      this.image = imageBuffer
      this.capturing.finished = true
      await this.sendThisImageToPredictService()
    }
  }

  async sendThisImageToPredictService () {
    await this.sendToPredictService(this.image)
  }

  async sendToPredictService (image: Buffer) {
    this.uploading.status = ''
    try {
      this.uploading.isRunning = true
      const qnnaireResponse = this.$store.getters['predictData/quizAnswers']
      const response = await predictorApi.predict(image, qnnaireResponse)
      this.uploading.finished = true
      const data = (response as any).data.result
      this.$store.commit('predictData/setPredictData', {
        confident: data.confident,
        color: data.color,
        quizAnswers: qnnaireResponse,
        explanations: data.explanations,
        texture: data.texture
      })
      this.$router.push({ name: 'result' })
    } catch (e) {
      this.uploading.status = 'error'
      this.uploading.finished = false
      this.uploading.errorMessage = 'Something went wrong when predicting. Please try again.'
      console.log('error at sending to predict', e)
    }
    this.uploading.isRunning = false
  }
}
</script>

<style scoped>
.error-try-again {
  color: rgb(177, 15, 15);
}

#drop_zone {
    max-width: 20rem;
    color: rgba(0,0,0,0.5);
    margin: 1rem auto;
    height: 152px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    border: 2px dashed;
    background-color: #005b6121;
    font-size: 1.5rem;
}

.drop-info {
    font-size: 1rem;
    word-break: break-word;
}

div#drop_zone p {
    margin-bottom: 0;
}

.errors {
    color: #b50d0d;
}

.section-process > p {
    text-align: center;
    max-width: 33rem;
    margin: auto;
    padding: 1rem;
}

.section-process {
    padding-top: 1.4rem;
}
</style>
