<template>
  <!--eslint-disable max-len -->
    <div class="app_header">
        <div class="app_header-content">
        <v-card elevation="5" class="main_card">
            <h1><slot name="title"></slot></h1>
            <slot></slot>
        </v-card>
        </div>
        <div class="app_header-back_image-container">
        <div class="app_header-back_image-overlay"></div>
        <img :src="require('../assets/comprof-header.jpg')"/>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'ViewSingleCard' as string
})
</script>

<style scoped>
.app_header {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.app_header-content {
    padding: 1rem;
    padding-top : 64px;
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100%;
    position: relative;
    width: 100%;
}

.main_card {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    text-align: center;
    margin: auto;
    background: linear-gradient(147.96deg, #FFFFFF 8.22%, #E1E8E9 102.9%);
}

.app_header-back_image-container {
    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    z-index: -1;
    width: 100%;
}

.app_header-back_image-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.app_header-back_image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #39A99C 0%, rgba(255, 255, 255, 0) 100%), #145B32;
    opacity: 0.6;
}

h1 {
  font-family: "Nunito Sans";
  font-display: swap;
  font-weight: 800;
}
</style>
