<template>
  <v-app>
    <v-app-bar fixed dark color="#005B61">
      <v-toolbar-title class="headline">
        <a href="/">
          <img class="navbar-logo" :src="require('@/assets/logo - blue white.svg')"/>
        </a>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items style="height: initial;" class="hidden-sm-and-down">
      <span class="mr-2"><v-btn text to="/start">Start</v-btn></span>
      <template v-if="isLoggedIn">
        <span class="mr-2"><v-btn text to="/history">History</v-btn></span>
        <span class="mr-2">
          <v-btn light outlined color="#E2D561" class="font-weight-bold text-capitalize" @click="signOut()">Sign Out</v-btn>
        </span>
      </template>
      <template v-else>
        <span class="mr-2">
          <v-btn light color="#E2D561" class="font-weight-bold text-capitalize" to="/sign-in">Sign In</v-btn>
        </span>
      </template>
      </v-toolbar-items>
      <v-toolbar-items style="height: initial;" class="hidden-md-and-up">
        <v-btn
        class="mr-2"
          text
          dark
          icon
          @click.stop="drawer = !drawer"
        >
        <v-icon>mdi-menu</v-icon>
        </v-btn>
      </v-toolbar-items>
    </v-app-bar>
    <v-navigation-drawer
      v-model="drawer"
      fixed
      temporary
      color="#005B61"
    >
      <v-list dense>
        <v-list-item>
        <v-btn to="/start" block dark text class="font-weight-bold text-capitalize">Start</v-btn>
        </v-list-item>
        <template v-if="isLoggedIn">
          <v-list-item>
          <v-btn to="/history" block dark text class="font-weight-bold text-capitalize">History</v-btn>
          </v-list-item>
          <v-list-item>
          <v-btn block light outlined color="#E2D561" class="font-weight-bold text-capitalize" @click="signOut()">Sign Out</v-btn>
          </v-list-item>
        </template>
        <template v-else>
          <v-list-item>
          <v-btn block light color="#E2D561" class="font-weight-bold text-capitalize" to="/sign-in">Sign In</v-btn>
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-content>
      <router-view/>
    </v-content>
    <v-footer class="comprof-footer" dark color="#004B50">
      <div class="footer-separator"></div>
      <p>Developed by PoTay</p>
    </v-footer>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'App',
  data: () => ({
    drawer: null
  }),
  async created () {
    await this.$store.dispatch('authentication/loadCookies')
    const token: string = this.$store.getters['authentication/jwtAccess']
    const refreshToken: string = this.$store.getters['authentication/jwtRefresh']
    let authorized = false
    if (token !== '' && token !== null) {
      authorized = await this.$store.dispatch('authentication/verifyToken', token)
    }
    if (!authorized && refreshToken !== '' && refreshToken !== null) {
      authorized = await this.$store.dispatch('authentication/refreshToken', refreshToken)
    }
    if (this.$route.name === 'history' && !authorized) {
      this.$router.replace({ name: 'home' })
    }
    if (this.$route.name === 'signup' && authorized) {
      this.$router.replace({ name: 'home' })
    }
  },
  methods: {
    async signOut () {
      await this.$store.dispatch('authentication/logout')
      window.location.href = '/'
    }
  },
  computed: {
    isLoggedIn (): boolean {
      return this.$store.getters['authentication/jwtAccess'] !== ''
    }
  }
})
</script>

<style scoped>
.navbar-logo {
  position: relative;
  top: 2px;
  height: 56px;
}
.footer-separator {
  max-width: 300%;
  width: 50%;
  margin: 10px auto;
  height: 3px;
  border-radius: 10px;
  background: white;
}
.comprof-footer {
  padding: 0.5rem;
  text-align: center;
  display: block;
}
</style>
